.container {
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 2rem;
}
.navList {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-bottom: 0;
}
.item {
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.selected {
    color: red;
    cursor: default;
}

@media screen and (max-width: 35rem) {
    .navList {
        border: none;
        border-top: 1px solid black;
    }

    .item {
        font-size: 1.25rem;
    }
}
